<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Изменение категории товара</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
    <header th:insert="~{loyout :: header}"></header>
    <main class="categories__main">
        <h2>Изменение категории товара</h2>
        <hr>
        <form class="form" th:method="POST" th:action="@{/admin/categories/edit/{id}(id=${categories.getId()})}" th:object="${categories}">
            <div class="categories__items categories__items_add">
                <label for="name">Введите название категории продуктов: </label>
                <input class="input__form status_name" type="text" th:field="*{name}" placeholder="Введите название категории" name="name" id="name">
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

                <label for="description">Введите описание категории продуктов: </label>
                <textarea class="input__form status_name" th:field="*{description}" name="description" id="description"></textarea>
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{description}"></div>

            </div>
            <input class="btn" type="submit" value="Изменить категорию">
            <hr>
        </form>

    </main>
    <footer th:insert="~{loyout :: footer}"></footer>
</div>
</body>
</html>