<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Информация о пользователе</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="container">
  <header th:insert="~{loyout :: header}"></header>
  <h2>Информация о пользователе</h2>
  <hr>
  <main class="users__main">
    <div class="users__items">
      <div class="users__item" >
        <p th:text="'№ ' + ${user.getId()}" ></p>

        <form class="form" th:method="post" th:action="@{/admin/users/info/{id}(id=${user.getId()})}" th:object="${user}">
          <label for="name">NikName: </label>
          <input class="input__form" type="text" th:field="*{name}" name="name" id="name">
          <button class="btn" type="submit">Изменить</button>
        </form>

        <p th:text="'Логин: ' + ${user.getLogin()}" ></p>
        <p th:text="'Пароль: ' + ${user.getPassword()}" ></p>

        <form class="form" th:method="post" th:action="@{/admin/users/info/{id}(id=${user.getId()})}" th:object="${user}">
          <label for="role">Роль: </label>
          <select class="input__form" name="role" id="role" th:field="*{role}">
            <option th:each="role: ${roles}" th:value="${role.getNameRole()}" th:text="${role.getNameRole()}" ></option>
          </select>
          <button class="btn" type="submit">Изменить</button>
        </form>
      </div>
    </div>
  </main>
  <hr>
  <footer th:insert="~{loyout :: footer}"></footer>
</div>
</body>
</html>