.btn {
    display: block;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: burlywood;
    border-color: transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: fit-content;
    transition: box-shadow .5s ease-in-out;
}

.btn:hover {
    box-shadow: 1px 1px 14px 15px burlywood;
}

input[type=radio] {
    cursor: pointer;
}