.orders__main {
    min-height: 85vh;
}

.orders__items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #f0f8ff4a;
    border-radius: 10px;
}

.orders__title {
    margin-bottom: 10px;
}

.orders__item {
    border: 1px solid #999191;
    padding: 5px 5px;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    overflow: hidden;
    transition: height 1s;
}

.orders__item_activ {
    height: max-content;
}

.orders__item_img {
    display: block;
    width: 50px;
}

.orders__number_item {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 4px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: inset 0px 1px 2px 3px #989898;
    font-size: 16px;
    font-weight: 500;
}

.orders__product_name {
    width: 480px;
}

.orders__edit_select {
    width: min-content;
}