<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>layout</title>
</head>
<body>
  <ul class="header__items" th:fragment="header">
      <li>
          <div th:if="${person}">
              <div th:if="${person.getPerson().getRole().equals('ROLE_ADMIN')}">
                  <div th:if="${users_link_activ}">
                      <a class="header__link" th:href="@{/admin}">Список товаров</a>
                      <a class="header__link" th:href="@{/admin/orders}">Заказы</a>
                      <a class="header__link header__link_activ" th:href="@{/admin/users}">Пользователи</a>
                      <a class="header__link" href="/admin/categories">Категории товаров</a>
                      <a class="header__link" href="/admin/status">Статусы заказов</a>
                  </div>
                  <div th:if="${orders_link_activ}">
                      <a class="header__link" th:href="@{/admin}">Список товаров</a>
                      <a class="header__link header__link_activ" th:href="@{/admin/orders}">Заказы</a>
                      <a class="header__link" th:href="@{/admin/users}">Пользователи</a>
                      <a class="header__link" href="/admin/categories">Категории товаров</a>
                      <a class="header__link" href="/admin/status">Статусы заказов</a>
                  </div>
                  <div th:if="${products_link_activ}">
                      <a class="header__link header__link_activ" th:href="@{/admin}">Список товаров</a>
                      <a class="header__link" th:href="@{/admin/orders}">Заказы</a>
                      <a class="header__link" th:href="@{/admin/users}">Пользователи</a>
                      <a class="header__link" href="/admin/categories">Категории товаров</a>
                      <a class="header__link" href="/admin/status">Статусы заказов</a>
                  </div>
                  <div th:if="${categories_link_activ}">
                      <a class="header__link" th:href="@{/admin}">Список товаров</a>
                      <a class="header__link" th:href="@{/admin/orders}">Заказы</a>
                      <a class="header__link" th:href="@{/admin/users}">Пользователи</a>
                      <a class="header__link header__link_activ" href="/admin/categories">Категории товаров</a>
                      <a class="header__link" href="/admin/status">Статусы заказов</a>
                  </div>
                  <div th:if="${statusProduct_link_activ}">
                      <a class="header__link" th:href="@{/admin}">Список товаров</a>
                      <a class="header__link" th:href="@{/admin/orders}">Заказы</a>
                      <a class="header__link" th:href="@{/admin/users}">Пользователи</a>
                      <a class="header__link" href="/admin/categories">Категории товаров</a>
                      <a class="header__link header__link_activ" href="/admin/status">Статусы заказов</a>
                  </div>
                  <div th:if="!${products_link_activ} and !${categories_link_activ} and !${statusProduct_link_activ} and !${orders_link_activ} and !${users_link_activ}">
                      <a class="header__link" th:href="@{/admin}">Список товаров</a>
                      <a class="header__link" th:href="@{/admin/orders}">Заказы</a>
                      <a class="header__link" th:href="@{/admin/users}">Пользователи</a>
                      <a class="header__link" href="/admin/categories">Категории товаров</a>
                      <a class="header__link" href="/admin/status">Статусы заказов</a>
                  </div>
              </div>

              <a th:if="!${person.getPerson().getRole().equals('ROLE_ADMIN')}" class="header__link" th:href="@{/product}">Товары</a>
          </div>
          <a th:if="!${person}" class="header__link" th:href="@{/product}">Товары</a>
      </li>
      <li th:if="${person}">
          <div th:if="${person.getPerson().getRole().equals('ROLE_USER')}" class="user__form_cartAndOrder">
              <form th:action="@{/cart}" th:method="GET" >
                  <input class="btn" type="submit" value="Корзина">
              </form>
              <form th:action="@{/orders}" th:method="GET">
                  <input class="btn" type="submit" value="Заказы">
              </form>
          </div>
      </li>
      <li >
          <a th:if="!${person}" class="header__link" th:href="@{/auth/login}">Авторизоваться</a>
          <a th:if="${person}" class="header__link" >
              <form method="post" th:action="@{/logout}">
                  <label for="form__exit" th:text="${person.getUsername()}"></label>
                  <input type="submit" id="form__exit" value="Выйти"/>
              </form>
          </a>
      </li>
  </ul>

  <div th:fragment="footer">
    <div class="footer__wrapper">
      <div class="footer__contact">
          <p>Сoder: <a href="https://t.me/Alex_kav" target="_blank">Aleksey Konstantinov</a></p>
          <p>© 2022</p>
      </div>
      <ul class="footer__items_soc">
          <li class="footer__item_soc">
              <a href="https://vk.com/alekseikonstantinov" class="footer__link" target="_blank">
                  <img class="footer__social_img" src="https://sun7-6.userapi.com/s/v1/if1/gQJhXovrqt8nXeU7URrm-dABTZOMnPvu6OTeY-wqpzrjYvdKfe8PLqW8dRNeN6qmtzPjEmAy.jpg?size=50x50&amp;quality=96&amp;crop=180,0,719,719&amp;ava=1" width="32" height="32" alt="Алексей">
              </a>
          </li>
          <li class="footer__item_soc">
              <a href="https://github.com/AlexeyKonstantinov78" class="footer__link" target="_blank">
                  <svg height="32" aria-hidden="true" viewBox="0 0 16 16" version="1.1" width="32" data-view-component="true" class="octicon octicon-mark-github v-align-middle">
                      <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path>
                  </svg>
              </a>
          </li>
      </ul>
    </div>
  </div>
</body>
</html>